*{
    background-color: #FFF5EE;
}



.neymar-imagem{
    width: 300px;
    height: 300px;
}

.titulo-principal{
    text-align: center;
}

.texto-primeiro{
    text-align: right;
}

.cr7-imagem{
    width: 300px;
    height: 300px;
}